:root{
  --primary: rgb(0,0,0);
  --glass: rgb(33, 31, 31);
  --green: rgb(37 230 149);
  /* --darkgreen: rgb(10, 243, 169); */
  --darkgreen: rgb(9 106 46);
  --active: rgb(61, 156, 116);
  
}




.App {
  /* text-align: center; */
  font-family: 'DM Sans', sans-serif;
  font-family: 'Inter', sans-serif;
  background-color: var(--primary);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AppGlass{
  display: grid;
  height: 97%;
  width: 97%;
  border-radius: 2rem;
  background-color: var(--glass);
  overflow: hidden;
  grid-template-columns: 11rem auto 18rem;
  gap: 10px;
}